alembic==1.0.0
blinker==1.4
bootstrap-flask==1.0.9
click==6.7
flask-ckeditor==0.4.3
flask-debugtoolbar==0.10.1
flask-login==0.4.1
flask-mail==0.9.1
flask-migrate==2.2.1
flask-moment==0.6.0
flask-sqlalchemy==2.3.2
flask-wtf==0.14.2
flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
jinja2==2.10
mako==1.0.7
markupsafe==1.0
psycopg2==2.7.5
python-dateutil==2.7.3
python-dotenv==0.10.0
python-editor==1.0.3
six==1.11.0
sqlalchemy==1.2.10
werkzeug==0.15.3
wtforms==2.2.1

